{% extends "AccueilBundle::layout.html.twig" %}

{% block title %}
    Récapitulatif - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="menu">
        <div class="row">
            <div class="col-md-offset-2 col-md-8"><br/><br/><br/><br/>
                <div class="back-form">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-8">
                            <h2>Synthèse de la commande</h2>



              {% for gens in reservation.billets %}
                            <h4>Nom & Prenom:<strong>{{ gens.nom~' '~gens.prenom }}</strong></h4>
                            <h4>Date de naissance: {{ gens.dateNaissance|date('d-m-Y') }}</h4>
                            <h4>Pays d'origine: {{ gens.pays.nomFr }}</h4>
                        {% endfor %}

                        <h4>Email: {{ reservation.email }}</h4>
                        {% if reservation.demiJournee == 1 %}
                            <h4>Demi journée</h4>
                        {% elseif reservation.demiJournee == 0 %}
                            <h4>Journée entière</h4>
                        {% endif %}
                        <h4>Date de réservation:{{ reservation.dateResa|date('d-m-Y') }}</h4>

                        
                        <h4><strong>Total : {{ reservation.prixTotal }} €</strong></h4>

                        <form action="{{ path('validation', {'id': reservation.id }) }}" method="POST">
                            <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_MQEN4HNJ1LfQGUSCRuo09lOL"
                                    data-amount="{{ reservation.prixTotal }}00"
                                    data-name="Musée du Louvre"
                                    data-description="Billets (€{{ reservation.prixTotal }}.00)"
                                    data-image="http://www.iphon.fr/public/2009/Q4/.musee-louvre-iphone-1_s.jpg"
                                    data-locale="auto"
                                    data-currency="eur">
                            </script>
                        </form>

                        <br><img src="https://www.paypal.com/fr_XC/i/btn/btn_xpressCheckout.gif" align="left" >

  </div>
            </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
